/* 右上角社交按钮样式 */
.social-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.social-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #555;
}

/* 页面主体样式 */
#main-content {
    padding: 20px;
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* 海图背景的样式 */
.sea-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('mingweb3.0.png');
    background-size: cover;
    background-position: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

.sea-map .sea-content {
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* 其他页面内容样式 */
.title h1 {
    text-align: center;
    font-size: 36px;
    color: #ddd;
    margin-bottom: 10px;
}

.title p {
    text-align: center;
    font-size: 20px;
    color: #999;
}

.about, .memecoin, .roadmap {
    margin: 20px 0;
}

.roadmap h2, .memecoin h2, .about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.roadmap ul {
    list-style: none;
    padding-left: 0;
}

.roadmap li {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 40px;
}

/* 横幅图像样式 */
.banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
